.button {
  @extend .subtitle;

  @include cssLock("padding-top", 360, 1920, ($gutter_num, $gutter_num * 1.2));
  @include cssLock(
    "padding-bottom",
    360,
    1920,
    ($gutter_num, $gutter_num * 1.5)
  );
  @include cssLock("padding-left", 360, 1920, ($gutter_num, $gutter_num * 9.25));
  @include cssLock("padding-right", 360, 1920, ($gutter_num, $gutter_num * 9.3));

  border-radius: $gutter * 3;
  background-color: color(primary);
  text-align: center;
  text-decoration: none;
  color: color(basic-white);

  &:hover {
    background-color: color(secondary);
    transition-duration: 0.6s;
  }
}
