%text {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.headline {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (24, 72));

  font-weight: 900;
}

.title {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (18, 52));

  font-weight: 600;

  &--upper {
    text-transform: uppercase;
  }
}

.subtitle {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (14, 24));

  font-weight: 600;

  &--center {
    text-align: center;
  }
}

.menu-link {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (14, 24));

  font-weight: 300;
  text-decoration: none;

  &--center {
    text-align: center;
  }

  &--reverse {
    color: color(special);
    transition: $transition;

    &:hover {
      color: color(primary);
    }
  }

  &--more {
    color: color(primary);

    &:hover {
      color: color(dark);
      transition: $transition;
    }
  }
}

.text {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (12, 20));

  font-weight: 300;
  line-height: 2;

  &--center {
    text-align: center;
  }
}
