.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrapper {
    @include cssLock("margin-top", 360, 1920, ($gutter_num, $gutter_num * 4.5));

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__contact {
    @extend .menu-link;

    height: 100%;
    display: flex;
    align-items: center;
    color: color(gray);
  }

  &__link {
    @extend .menu-link;

    @include cssLock("letter-spacing", 360, 1920, ($gutter_num * 0.15, $gutter_num * 0.25));
    @include cssLock("margin-right", 360, 1920, ($gutter_num, $gutter_num*6.5));

    text-decoration: none;
    color: color(primary);
    font-weight: 600;
  }
}
