$gutter: 8px;
$gutter_num: 8;
$transition: 0.4s;

$colors: (
  primary: #215f93,
  secondary: #2c2a6d,
  gray: #707070,
  light-gray: #b3b2b5,
  light: #fff,
  special: #e1f1ff,
  dark: #000,
);

$media: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1025px,
  xl: 1440px
);

$main-font: "Work Sans";
